[Unit]
Description=DayZ Supervisor (command + log monitor)
After=network.target

[Service]
ExecStart=/home/dayzadmin/servers/dayz-server/scripts/dayz_monitor/dayz_supervisor.sh
Restart=always
# Diretório de trabalho
WorkingDirectory=/home/dayzadmin/servers/dayz-server/

# Limite de arquivos abertos
LimitNOFILE=100000

# Comandos de reload e parada
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s INT $MAINPID

# Usuário e grupo que rodam o serviço
User=dayzadmin
Group=dayzadmin

[Install]
WantedBy=multi-user.target
